@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.page-title {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    margin: 0;
}

.section-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}


#product-list-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    overflow-y: auto;
    max-height: 400px;
}

#product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.product-list-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(30% - 10px); 
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.product-list-item h2 {
    font-size: 18px;
    margin: 0;
}

.product-list-item p {
    margin: 5px 0;
}

.product-list-item img {
    max-width: 100%;
    margin: auto;
    height: auto;
}


form {
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(45% - 20px)
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    width: 100%;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

