<head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="http://localhost:8080">Home</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="http://localhost:8080/realtimeproducts">RealTimeProducts</a></li>
        <li><a href="http://localhost:8080/carts">Cart</a></li>
        <li><a href="http://localhost:8080/chat">Chat</a></li>

</nav>
<div class="login-form-container">
    <form id="loginForm" class="login-form"> 
        <h1 class="login-form-title">Login</h1>
        <label class="login-label">Email</label>
        <input name="email" class="login-input" placeholder="nombre@ejemplo.com">
        <br />
        <label class="login-label">Contraseña</label>
        <input type="password" name="password" class="login-input" placeholder="********">
        <input type="submit" class="login-button" value="Iniciar Sesión">

        <div class="social">
            <a href="/api/sessions/github"><div class="gh"><i class="fab fa-github"></i> Ingresar con GitHub</div></a>
            <a href="http://localhost:8080/register"><div class="rg"> Registrarse</div></a>
        </div>
    </form>
</div>
<script src="/static/js/login.js"></script>
