<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<nav class="navigation">
    <ul class="menu">
        <li><a href="http://localhost:8080">Home</a></li>
        <li><a href="http://localhost:8080/products">Products</a></li>
        <li><a href="http://localhost:8080/realtimeproducts">RealTimeProducts</a></li>
        <li><a href="http://localhost:8080/carts">Cart</a></li>
        <li><a href="http://localhost:8080/chat">Chat</a></li>
        <li><a href="http://localhost:8080/profile">Perfil de usuario</a></li>

    </ul>
</nav>
<div class="login-form-container">
    
    <form id="registerForm" class="login-form">
        <h1 class="login-form-title">Registro</h1>
        <label class="login-label">Nombre</label>
        <input name="first_name" class="login-input">
        <br />
        <label class="login-label">Apellido</label>
        <input name="last_name" class="login-input">
        <br />
        <label class="login-label">Email</label>
        <input name="email" class="login-input">
        <br />
        <label class="login-label">Edad</label>
        <input name="age" class="login-input">
        <br />
        <label class="login-label">Contraseña</label>
        <input type="password" name="password" class="login-input">

        <input type="submit" class="login-button">
            <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

    </form>
</div>
<script src="/static/js/register.js"></script>