<form id="resetForm">
    <small> Token: {{token}}</small>
    <input type="hidden" name="token" id="token" value="{{token}}">
    <label for="password">Nueva contraseña:</label>
    <input type="password" id="password" name="password" required>
    <label for="confirmPassword">Confirmar contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button type="button" id="submit-button">Restablecer contraseña</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/resetPassword.js"></script>